In [1]:
import os
import pandas as pd
import numpy as np
#print(os.getcwd())
print(os.listdir())

['Employee_Actions.txt', '.DS_Store', 'first.csv', 'Employee_Demographics.txt', 'data_wrangling2.ipynb', 'Performance.txt', 'data_wrangling.ipynb', 'Summary_of_Vacancies.txt', 'Additional_Details_on_Actions.xlsx', 'Location.xlsx', '.ipynb_checkpoints', 'Internal_Applicants.txt']

In [43]:
employee_actions = pd.read_csv('Employee_Actions.txt', sep='\t', encoding='latin1', dtype='unicode') #index_col=0,
employee_actions = employee_actions.iloc[:, :-1]
employee_actions.head()

,Post No,Index No,Organization,Action,Sub Action,Effective Date,Incumbent Grade,DS Location,DS Country
0,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia
1,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2017-02-17,A17,Yerevan,Armenia
2,SSSXAFRX,SFKFDO,UNDP,Data Change,IP Comp Review ? Step Matching,2017-01-01,A17,Yerevan,Armenia
3,SSSXAFRX,SFKFDO,UNDP,Family Status Change,Change/Add Dependent,2014-01-01,A17,Yerevan,Armenia
4,SSSXAFRX,SFKFDO,UNDP,Family Status Change,Change/Add Dependent,2016-05-20,A17,Yerevan,Armenia

In [44]:
employee_actions.shape

(1230563, 9)

In [45]:
em_de = pd.read_csv('Employee_Demographics.txt', sep=",", names=['Post No','Index No','Organization','Gender','Nationality','Hire Date','Yrs Of Service','Age Group'])
em_de = em_de.iloc[1: , :]

In [46]:
em_de.head()

,Post No,Index No,Organization,Gender,Nationality,Hire Date,Yrs Of Service,Age Group
1,SSSSZKOA,FSZKZS,UNDP,Female,Myanmar,1979-10-01 00:00:00.000,40,60-69
2,SSSSZKOR,SAZSKZ,UNDP,Male,Myanmar,2013-07-08 00:00:00.000,6,50-59
3,SSSSZKOP,SFZRXX,UNDP,Male,Myanmar,1994-11-22 00:00:00.000,25,60-69
4,SSSSZKKX,RSPXSR,UNDP,Female,Myanmar,1996-11-01 00:00:00.000,23,50-59
5,SSSSZKKA,XKRXPZ,UNDP,Male,Sri Lanka,1999-07-01 00:00:00.000,20,40-49

In [47]:
em_de.shape

(93003, 8)

In [48]:
perf = pd.read_csv('Performance.txt', sep=",", names= ['Index No','Organization','Year','Performance Rating'])
perf = perf.iloc[1: , :]
perf.head()

  Index No Organization  Year           Performance Rating
1   SSDFZF       UNICEF  2018            Solid Achievement
2   SSDFDP       UNICEF  2016            Solid Achievement
3   SSDOXR         UNDP  2017  Successful PLUS performance
4   SSDXFD       UNICEF  2016            Solid Achievement
5   SSDXKK       UNICEF  2017            Solid Achievement

In [49]:
perf.shape

(44266, 4)

In [50]:
internal_app = pd.read_csv('Internal_Applicants.txt', sep=',',encoding='latin1', dtype='unicode', names=['Index No','Organization','Requisition No','System','Post No','Post title','Hired Index NO'])
internal_app = internal_app.iloc[1: , :]
internal_app.head()

,Index No,Organization,Requisition No,System,Post No,Post title,Hired Index NO
1,FRKPRZ,UNDP,35495,JS,SSSRRPPP,Re-advertised - Procurement and Supply Managem...,NaN
2,FRKPKP,UNDP,52850,JS,SSSSSKKR,Programme Specialist Poverty,NaN
3,FRKRFZ,UNDP,18759,ER,SSZOODSO,Field Coordination and Business Operations Sp...,NaN
4,FRKRFZ,UNDP,22152,ER,SSZKSOOK,Finance and Operations Analyst,NaN
5,FRKRFZ,UNDP,23063,ER,SSZKZPSO,Procurement Specialist,NaN

In [51]:
internal_app.shape

(296000, 7)

In [52]:
vacancies = pd.read_csv('Summary_of_Vacancies.txt', sep=',', encoding='latin1', dtype='unicode', names=['Post No','Index No','Organization','Requisition No','Position Grade','No of Applications Submitted','Internal / External','Post title','Vacancy Year'
])
vacancies = vacancies.iloc[1:, :]
vacancies.head()

,Post No,Index No,Organization,Requisition No,Position Grade,No of Applications Submitted,Internal / External,Post title,Vacancy Year
1,SSSSSXRF,Z,UNDP,24636,A6,218,NaN,Programme Associate/Environment (For Rwandan n...,2011
2,SSSSSXRA,Z,UNDP,32138,A7,383,NaN,Programme Associate (For Rwandan nationals only),2012
3,SSSSSXRA,Z,UNDP,33951,A7,275,NaN,Programme Associate Governance,2012
4,SSSSSXRA,SSPFFR,UNDP,36897,A7,180,Internal,Programme Associate (Open to Rwandan Nationals...,2013
5,SSSSSXDS,SFXZRD,UNDP,32383,A9,196,Internal,Programme Analyst (For Rwandan nationals only),2012

In [53]:
vacancies.shape

(40121, 9)

In [54]:
location = pd.read_excel('Location.xlsx')

In [55]:
location.head()

,Location Code,EffDt,Eff_Status,DS Location,DS Country,Country Code,Hardship Classification,Family/Non-Family
0,0060,24.10.1946,A,Kabul,Afghanistan,AFG,E,N
1,0060,01.01.1901,A,Kabul,Afghanistan,AFG,A,F
2,0060,01.01.2007,A,Kabul,Afghanistan,AFG,E,N
3,0060,20.02.2009,A,Kabul,Afghanistan,AFG,E,N
4,0060,01.10.2008,A,Kabul,Afghanistan,AFG,E,N

In [67]:
location.shape

(6024, 8)

In [56]:
# Joins
# First Left Join: 'Employee_Actions.txt' <-- 'Employee_Demographics.txt'

In [57]:
first_join = pd.merge(left=employee_actions, right=em_de, how='left', on = ['Post No','Index No'])
first_join.head()

,Post No,Index No,Organization_x,Action,Sub Action,Effective Date,Incumbent Grade,DS Location,DS Country,Organization_y,Gender,Nationality,Hire Date,Yrs Of Service,Age Group
0,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,Male,United States,2013-02-17 00:00:00.000,6,40-49
1,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,Male,United States,2013-02-17 00:00:00.000,6,50-59
2,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2017-02-17,A17,Yerevan,Armenia,UNDP,Male,United States,2013-02-17 00:00:00.000,6,40-49
3,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2017-02-17,A17,Yerevan,Armenia,UNDP,Male,United States,2013-02-17 00:00:00.000,6,50-59
4,SSSXAFRX,SFKFDO,UNDP,Data Change,IP Comp Review ? Step Matching,2017-01-01,A17,Yerevan,Armenia,UNDP,Male,United States,2013-02-17 00:00:00.000,6,40-49

In [58]:
first_join.shape #296000

(1733243, 15)

In [59]:
# Second Left Join: 'Employee_Actions.txt' <-- 'Employee_Demographics.txt' <-- 'Internal_Applicants.txt'
# 한 명이 이직을 위해 여러군데 여러번 지원했을수있으니까 숫자가 엄청 늘어난다. 
second_join = pd.merge(left=first_join, right=internal_app, how = 'left', on=['Index No'])
second_join.head()

,Post No_x,Index No,Organization_x,Action,Sub Action,Effective Date,Incumbent Grade,DS Location,DS Country,Organization_y,...,Nationality,Hire Date,Yrs Of Service,Age Group,Organization,Requisition No,System,Post No_y,Post title,Hired Index NO
0,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,United States,2013-02-17 00:00:00.000,6,40-49,UNDP,19918,ER,SSSPFXZP,Director,Global Center for Technology
1,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,United States,2013-02-17 00:00:00.000,6,40-49,UNDP,19936,ER,SSSKDDPZ,Director,Seoul Global Policy Center
2,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,United States,2013-02-17 00:00:00.000,6,40-49,UNDP,7952,ER,SSSPKDPA,Manager,NaN
3,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,United States,2013-02-17 00:00:00.000,6,50-59,UNDP,19918,ER,SSSPFXZP,Director,Global Center for Technology
4,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,United States,2013-02-17 00:00:00.000,6,50-59,UNDP,19936,ER,SSSKDDPZ,Director,Seoul Global Policy Center

In [66]:
second_join.shape

(8951975, 21)

In [65]:
# Third Left Join : 'Employee_Actions.txt' <-- 'Employee_Demographics.txt' <-- 'Internal_Applicants.txt' <-- 'Summary_of_Vacancies.txt'

third_join = pd.merge(left = second_join, right= vacancies, how='left', left_on=['Post No_x', 'Index No'], right_on=['Post No','Index No'])
third_join.shape

(10919757, 29)

In [ ]:
# Join with 'Location.xlsx' led to too many rows...(64195199, 36)

In [71]:
# Fourth Left Join : 'Employee_Actions.txt' <-- 'Employee_Demographics.txt' <-- 'Internal_Applicants.txt' 
# <-- 'Summary_of_Vacancies.txt' <-- 'Performance.txt'
join4 = pd.merge(left = third_join, right = perf, how='left', on=['Index No'])

join4.shape

(15982409, 32)

In [76]:
join4.head()

,Post No_x,Index No,Organization_x,Action,Sub Action,Effective Date,Incumbent Grade,DS Location,DS Country,Organization_y,...,Organization_y,Requisition No_y,Position Grade,No of Applications Submitted,Internal / External,Post title_y,Vacancy Year,Organization,Year,Performance Rating
0,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDP,2017,NaN
1,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDP,2017,NaN
2,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDP,2017,NaN
3,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDP,2017,NaN
4,SSSXAFRX,SFKFDO,UNDP,Data Change,Contract Extension,2015-02-17,A17,Yerevan,Armenia,UNDP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNDP,2017,NaN

In [87]:
join4["Effective Date"] = join4["Effective Date"].str.replace("\s00:00:00", "")

In [90]:
join4["Effective Date"] = pd.to_datetime(join4["Effective Date"], errors='coerce')

In [105]:
join4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15982409 entries, 0 to 15982408
Data columns (total 32 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Post No_x                     object
 1   Index No                      object
 2   Organization_x                object
 3   Action                        object
 4   Sub Action                    object
 5   Effective Date                datetime64[ns]
 6   Incumbent Grade               object
 7   DS Location                   object
 8   DS Country                    object
 9   Organization_y                object
 10  Gender                        object
 11  Nationality                   object
 12  Hire Date                     object
 13  Yrs Of Service                object
 14  Age Group                     object
 15  Organization_x                object
 16  Requisition No_x              object
 17  System                        object
 18  Post No_y                     object
 19  Post title_x                  object
 20  Hired Index NO                object
 21  Post No                       object
 22  Organization_y                object
 23  Requisition No_y              object
 24  Position Grade                object
 25  No of Applications Submitted  object
 26  Internal / External           object
 27  Post title_y                  object
 28  Vacancy Year                  object
 29  Organization                  object
 30  Year                          object
 31  Performance Rating            object
dtypes: datetime64[ns](1), object(31)
memory usage: 3.9+ GB

In [106]:
join4 = join4.set_index(['Post No_x','Index No','Effective Date']) 
join4.head()

                                  Organization_x       Action  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17               UNDP  Data Change
                   2015-02-17               UNDP  Data Change
                   2015-02-17               UNDP  Data Change
                   2015-02-17               UNDP  Data Change
                   2015-02-17               UNDP  Data Change

                                           Sub Action Incumbent Grade  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17      Contract Extension             A17
                   2015-02-17      Contract Extension             A17
                   2015-02-17      Contract Extension             A17
                   2015-02-17      Contract Extension             A17
                   2015-02-17      Contract Extension             A17

                                  DS Location DS Country Organization_y  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17         Yerevan    Armenia           UNDP
                   2015-02-17         Yerevan    Armenia           UNDP
                   2015-02-17         Yerevan    Armenia           UNDP
                   2015-02-17         Yerevan    Armenia           UNDP
                   2015-02-17         Yerevan    Armenia           UNDP

                                  Gender    Nationality   Hire Date  ...  \
Post No_x Index No Effective Date                                    ...
SSSXAFRX  SFKFDO   2015-02-17       Male  United States  2013-02-17  ...
                   2015-02-17       Male  United States  2013-02-17  ...
                   2015-02-17       Male  United States  2013-02-17  ...
                   2015-02-17       Male  United States  2013-02-17  ...
                   2015-02-17       Male  United States  2013-02-17  ...

                                  Organization_y Requisition No_y  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17                NaN              NaN
                   2015-02-17                NaN              NaN
                   2015-02-17                NaN              NaN
                   2015-02-17                NaN              NaN
                   2015-02-17                NaN              NaN

                                  Position Grade No of Applications Submitted  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17                NaN                          NaN
                   2015-02-17                NaN                          NaN
                   2015-02-17                NaN                          NaN
                   2015-02-17                NaN                          NaN
                   2015-02-17                NaN                          NaN

                                  Internal / External Post title_y  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17                     NaN          NaN
                   2015-02-17                     NaN          NaN
                   2015-02-17                     NaN          NaN
                   2015-02-17                     NaN          NaN
                   2015-02-17                     NaN          NaN

                                  Vacancy Year Organization  Year  \
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17              NaN         UNDP  2017
                   2015-02-17              NaN         UNDP  2017
                   2015-02-17              NaN         UNDP  2017
                   2015-02-17              NaN         UNDP  2017
                   2015-02-17              NaN         UNDP  2017

                                  Performance Rating
Post No_x Index No Effective Date
SSSXAFRX  SFKFDO   2015-02-17                    NaN
                   2015-02-17                    NaN
                   2015-02-17                    NaN
                   2015-02-17                    NaN
                   2015-02-17                    NaN

[5 rows x 29 columns]

In [108]:
join4["Sub Action"].unique()

array(['Contract Extension', 'IP Comp Review ? Step Matching',
       'Change/Add Dependent', 'Secondment From Another Agency',
       'IP Comp Review-Salary Revision', 'Salary Plan Revision',
       'Step Increase', 'End of Secondment',
       'Secondment To Another Agency', 'Promotion - Rank in Post',
       'IP-Reassignment with Extension', 'Adjustment to Mobility Count',
       'Change in Contract', 'Contract Reform Transition',
       'Conversion Record', 'Reassignment', 'Data Conversion Record',
       'Comp Revw- Mobility Conversion', 'Mandatory Age of Sep Update',
       'IMIS Conversion Row', 'Normal Retirement', 'Reinstate Mobility',
       'APA Location Change', 'Change Name',
       'End Mobility/NRE Cur Location', 'Secondment From External Agenc',
       'Grant Mobility', 'Promotion', 'Termination', 'Discontinue SPA',
       'Grant SPA', 'Reappointment', 'Change Place of Home Leave',
       'Signature of Visa Waiver USA', 'Extend Beyond Retirement',
       'Personal', 'Maternity', 'Return From Leave',
       'Change Marital Status', 'Initial Appointment', 'Early Retirement',
       'Position Data Update', 'Termination -Agreed Sep Type 1',
       'Change in Rule Series', 'Special Leave with Full Pay',
       'Loan to Another Agency', 'Grant Temporary Grade',
       'Return from Loan', 'Return from Secondment', 'Resignation',
       'Loan To Another Agency', 'Extend Leave of Absence',
       'Part-time Status Change', 'Termination - Mutual Consent',
       'Re-Organization/Restructure', 'Appointment to IP / NYGS Postn',
       'Longevity Step', 'Termination -Agreed Sep Type 2',
       'Strategic Placement', 'Adjust Grade/Step - Struct Rev',
       'Retain Grade/Step - Struct Rev', 'Transfer To Another Agency',
       'Reinstatement', 'Pending Termination',
       'Secondment from another agency', 'Transfer From Another Agency',
       'Pay Group Change', 'Change Nationality', 'Change Visa Status USA',
       'Appointment Expiration', 'Job Re-Classification',
       'Discontinue Temporary Grade', 'Agreed Separation Type I',
       'Second Job Within Agency', 'Loan from another agency',
       'End of Loan', 'Child Care', 'Lateral Move',
       'Half sick/Half annual', 'Sick Leave with Half Pay',
       'Separation Package', 'Maternity Part-time', 'Education',
       'Agreed Separation Type 2', 'Second Job within Agency',
       'Special Operations Approach', 'Arrival at Duty Station',
       'Approved', 'Return from UN Mission',
       'End Second Job within Agency', 'Death',
       'Sick Leave With Full Pay', 'Discontinue SOA',
       'Maternity/Paternity', 'Termination - Disciplinary',
       'Agreed Separation', 'Noncompetitive Career Promotio',
       'Sabbatical', 'Change Next Step Increase Date', 'New Position',
       'UNFPA Appointment Conversion', 'Transfer to Affiliate',
       'Loan From Another Agency', 'Temporary Government Service',
       'Change Date of Birth', 'Detail To', 'Return from Detail',
       'Detail In', 'End of Detail', 'UNV Volunteer Assignment',
       'Duplicate Hire', 'Extend Secondment/Loan',
       'Withhold/Loss of Grade/Step', 'Job Abandonment',
       'Special UN Mission', 'Paternity', 'Military Service',
       'Separation Half Pay', 'Temporary Unappoint Staff Mbr', 'Transfer',
       'Grant Mobility - 6th Year', 'Position Funding Change',
       'Position Redeployed', 'Retiree Location Change (ASHI)',
       'Without Pay', 'End of UN Mission', 'Reinstate Step',
       'Change Recruitment Place', 'Swapped Position',
       'Conversion Clean Up', 'Pay Frequency Change',
       'Termination for Health Reasons', 'Disciplinary Measure',
       'End Second Job Within Agency', 'Conversion to IMIS Payroll',
       'Termination -Abolition of Post', 'Final Payroll Clearance',
       'Admin. Leave without Pay', 'Admin. Leave with Pay', 'Adoption',
       'Position Status Change', 'Pending Disability Decision',
       'Position Abolished', 'Establish UN Mission',
       'Pending Disciplinary Action', 'Medical Evacuation',
       'Return from Medical Evacuation', 'Unsatisfactory Performance',
       'With Pay', 'Recall from Suspension/Layoff',
       'Half Sick/Half-time basis', 'Position Loan Frm Another Unit',
       'UNV Agreed Separation', 'Position Inactivated',
       'Return frm Security Evacuation', 'Termination - Staff Reduction',
       'Reassignment SME', 'Temporary Assignment',
       'Established UN Mission', 'End Secondment', 'Unassigned Position',
       'Position Loan To Another Unit', 'BSE Assignment',
       'Grant Next Increment', 'Extend Appointment', 'New Appointment',
       'Unified Salary Scale Conversio', 'Secondment from',
       'Add  Other Fam Member/Dep', 'Appointment for Travel',
       'Add New Child', 'Grant Paternity Leave', 'NO to IP',
       'Grant Maternity Leave', 'Special leave with full Pay',
       'Position Return Frm Anthr Unit', '100% to 50%',
       'Eligible for Enrolment', 'Special Leave without pay',
       'Change in Marital Status', 'Convert Appointment', 'G to IP',
       'Return spl leave with full Pay', 'Technical Conversion',
       'Grant 1st language allowance', 'Change in Duty Station',
       'Return from Spcl Lv w/o Pay', 'Assignment during special leav',
       'G TO NO', 'Change in Position Type', 'Part time to Full time',
       'Corrected Hire Date', 'Incorrect Hire Date',
       'Reappointment Travel', 'Abolishment of Post',
       'Withhold/Loss of Step', 'Interagency Transfer', 'Unknown',
       'Grant next SPA increment', 'Travel for Re-Appointment',
       'Abolishment/Appt Expiration', 'Temporary Assignment with Lien',
       'Return from temp assignment', 'Update',
       'Term-UnsatisfactoryPerformance', 'Appt Expiration - Retired Staf',
       'Chnge Appt Type/R Series/Statu', 'Employee Transfer In',
       'Retirement', 'Secondment', 'Spcl Lv Full Pay Sep Package',
       'Spec Lv without pay Sep Pkge', 'Change in Grade', 'Demotion',
       '50% to 100%', 'For double encumbency', 'Add New Child/Spouse',
       'Resignation - Early Retirement', 'Mutually Agreed Termination',
       'Change in Name', 'Full time to Part time',
       'Transfer to other UNCS Organiz', 'Retain in Service',
       'Grant Half Paternity Half Work', 'Roster Selection',
       'Unauthorized Absence', 'For double incumbency',
       'Reimbursable Loan', 'Special leave with Half Pay',
       'Unsatisfactory Service', 'Abandonment of Post',
       'Correct staff birth date', 'Grant Parental Leave',
       'Misconduct - Dismissal', 'Travel for Appointment',
       'Extend Appt/IA Transfer', 'Loan Non-Reimbursable',
       'Discontinue Temp Grade', 'Grant Half Maternity Half Work',
       'Discontinue 1st language allow', 'Abolishment of Post/Retirement',
       'Change in Nationality', 'CSL Half Pay Only',
       'Miscon-comp in lieu notice, TI', 'NO TO G',
       'Grant next TG increment', 'Reinstate/Permanent Appt.', 'Health',
       'Ext Appt for Maternity Leave', 'Return spl leave with Half Pay',
       'G to FS', 'Correct Staff Birth Date', 'MAT/Retirement',
       'Inter Agency Transfer', 'IP to GS', 'IP to NO',
       'Grant 2nd language allowance', 'Grant Non-removal',
       'End of Secondment to UNICEF', 'Reappointment - Local',
       'Modify Status', 'Ext Appt for Sick Leave',
       'Assignment pending placement', 'Part time to Part time',
       'FS to G', 'Misconduct - w/notice, w/TI',
       'Miscon-comp lieu notice w/o TI', 'Ext Appt for Paternity Leave',
       'Misconduct - w/notice, w/o TI', 'Field Office TFT to Staff',
       'Sub Action', 'IP Comp Review \x96 Step Matching'], dtype=object)

In [109]:
join4["Action"].unique()

array(['Data Change', 'Family Status Change', 'Hire', 'Pay Rate Change',
       'Separation', 'Leave of Absence', 'Promotion', 'Transfer',
       'Retirement', 'Rehire', 'Termination', 'Paid Leave of Absence',
       'Return from Leave', 'Position Change', 'Additional Job',
       'Suspension', 'Demotion', 'Recall from Suspension/Layoff',
       'Add Contingent Worker', 'Change in Pay', 'Contract Change',
       'Initial appointment', 'HR Conversion', 'Reassignment',
       'Initial Appt - Pernr exist', 'Lateral Move',
       'Create Fam Member/Dependents', 'Travel for Appointment',
       'Reappointment', 'Grant Maternity/Paternity Leav',
       'Category Change', 'M&HA', 'Long Term Absence',
       'Double Incumbency', 'Entry into UNJSPF',
       'Long Term Absence without pay', 'Change Personal Data',
       'Return from Long Term Absence', 'Organizational Mgmt Change',
       'Temp Assignment', 'Change Employment Percentage',
       'Corrected Entry Date', 'Incorrect Entry Date',
       'Reappointment - Travel', 'Travel for Re-Appointment', nan,
       'Unknown', 'Return from temp Assignment', 'Update(Local Staff)',
       'Change in Grade', 'Correct staff birth date', 'Reinstatement',
       'CSL Half Pay Only', 'Lateral Move - Loan',
       'Correct Staff Birth Date', 'Local Transfer to SAP',
       'Reappointment - LOCAL', 'Long Term Adsence without pay', 'Action'],
      dtype=object)

In [115]:
#join4.to_csv('first.csv', na_rep='NaN')

KeyboardInterrupt:

In [ ]:
=========== ERROR ===============

In [101]:
print(join4["Hire Date"].loc[join4["Hire Date"] == ' Republic of'])

1199         Republic of
1200         Republic of
1201         Republic of
1202         Republic of
1203         Republic of
                ...
14435941     Republic of
14435942     Republic of
14435943     Republic of
14435944     Republic of
14435945     Republic of
Name: Hire Date, Length: 112760, dtype: object

In [94]:
join4["Hire Date"] = join4["Hire Date"].str.replace("\s00:00:00.000", "")
join4["Hire Date"] = pd.to_datetime(join4["Hire Date"])

ParserError: Unknown string format:  Republic of

SSSXPAXA,DFAXDZ,UNDP,Male,Korea, Republic of,2005-01-19 00:00:00.000,15,40-49
        
#data.table 패키지의 fread() 함수로도 안되면. readLines() 같은 함수로 읽어와서 문제되는 부분 제거하고 split 합니다. gsub로 문제되는 쉼표 찾아서 없애야죠.

ParserError: Unknown string format:  Republic of